<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>About Me</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <p>"Your presence is no longer a privilege, it’s an inconvenience."</p>
            <a class="button" href="/">Go back to the home page</a>
        </div>
    </main>

    <footer>
        <div class="container">
            &copy; Youkouso watashino soul society
        </div>
    </footer>
</body>
</html>